/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@1,500&display=swap');

/* common */
body {
    /* font-family: 'Caveat', cursive; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    background-color: #F3F1FF;
    ;
}

/* top players */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}